<a href="https://colab.research.google.com/github/Gilmore-Floyd-R-Lozano/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [13]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Pythonc Comments

In [26]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [28]:
x=1
a, b = 0,-1
a, b, c = 0, -1, 2
b = "Sally" # This is a type of string

Casting

In [27]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [33]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [ ]:
y="John"
y='John'

Case sensitive

In [36]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [34]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [35]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [37]:
x = "enjoying"
print("Pythong progamming is " + x)

Pythong progamming is enjoying

Other way:

In [39]:
x="Python is "
y = "enjoying "
z = x+y
print(z)

Python is enjoying

Arithmetic Operation

In [41]:
x=5
y=3
print(x+y)

x=5
y=3
sum =x+y
sum

8

8

Assignment Operation

In [44]:
a,b,c = 0, -1, 6
c%=3
c

0

Comparison & Logical Operator

In [45]:
a,b,c = 0,-1,6
print(a>b and c>b)

True

Identity Operator

In [46]:
a,b,c = 0,-1,5
print(a is c)

False

Bitwise Operators

In [48]:
a,b,c = 0,-1,5
print(c>>1)
print(c<<1)

2
10